/* general css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: #e3e3e3;
}
h1 {
  margin-top: -10px;
  margin-bottom: 15px;
  font-size: 1.4rem;
  text-align: center;
}
.arrowKeys {
  margin-right: 5px;
  text-align: right;
}
table {
  margin-top: -25px;
}


/* canvas stuff */
canvas {
  display: block;
  margin: 0 auto;
  border: 2px solid #e3e3e3;
  background-color: #000000;
}  